<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-secondary" href="#!/"><i class="fa fa-home"></i> Home</a>
    </div>
</div>
<div class="jumbotron" ng-init="init()">
    <form class="text-center">
        <div class="form-group">
            <select class="form-control" name="room_id" id="room-id"></select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">เริ่มเช็คชื่อ</button>
        </div>
    </form>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkModal"><i class="fa fa-plus"></i> เพิ่มชั้นรียน</button>
<!-- The Modal -->
<div class="modal fade" id="checkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">เช็คชื่อ คนที่ 1/30</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <h3>ทดสอบ สวัสดี</h3>
                <div class="modal-content" style="display: inline-block;">
                    <button class="btn btn-outline-danger btn-box" data-sid="0" data-status="A" style="transform: scale(0.85);"><i class="fa fa-users"></i>ขาด</button>
                    <button class="btn btn-outline-success btn-box" data-sid="0" data-status="C"><i class="fa fa-users"></i>มา</button>
                    <button class="btn btn-outline-warning btn-box" data-sid="0" data-status="B" style="transform: scale(0.85);"><i class="fa fa-check"></i>ลา</button>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>