<h1>Menu</h1>
<div class="col-md-12">
    <a class="btn btn-outline-primary btn-box" href="#!/room"><i class="fa fa-users"></i>จัดการห้องเรียน</a>
    <a class="btn btn-outline-primary btn-box" href="#!/student"><i class="fa fa-users"></i>จัดการนักเรียน</a>
    <a class="btn btn-primary btn-box" href="#!/checking"><i class="fa fa-check"></i>เช็คชื่อ</a>
    <a class="btn btn-outline-primary btn-box" href="#!/report"><i class="fa fa-check"></i>รายงาน</a>
</div>
