<h1>จัดการห้องเรียน</h1>
<div id="room-page" class="" ng-init="init()">
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-secondary" href="#!/"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="col-sm-4 text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#room-create-modal"><i class="fa fa-plus"></i> เพิ่มชั้นเรียน</button>
        </div>
    </div>
    <br>
    <table id="datatable" class="table table-striped table-hover table-bordered dt-responsive nowrap"
           cellspacing="0" width="100%">
        <thead>
        </thead>
        <tbody>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<!-- The Modal -->
<div class="modal fade" id="room-create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-room" ng-submit="submit()">
            <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">เพิ่มห้องเรียน</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="id" value="0">
                    <input class="form-control" name="room" placeholder="ชั้นเรียน">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary submit-add"><i class="fa fa-plus"></i> เพิ่ม</button>
                    <button type="submit" class="btn btn-warning submit-edit"><i class="fa fa-pencil"></i> แก้ไข</button>
                </div>
            </form>
        </div>
    </div>
</div>