<h1>Menu</h1>
<div id="student-page" ng-init="init()">
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-secondary" href="#!/"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="col-sm-4 text-right">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#studentCreateModal"><i class="fa fa-plus"></i> เพิ่มนักเรียน</button>
        </div>
    </div>
    <br>
    <table id="datatable" class="table table-striped table-hover table-bordered dt-responsive nowrap"
           cellspacing="0" width="100%">
        <thead>
        </thead>
        <tbody>

        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div class="modal fade" id="studentCreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-student" ng-submit="submit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">เพิ่มห้องเรียน</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="id" value="0">
                    <div class="input-group">
                        <span class="input-group-addon">รหัสนักเรียน</span>
                        <input name="code" type="tel" class="form-control">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">ชื่อ - สกุล</span>
                        <input name="name" type="text" class="form-control">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">ชั้นเรียน</span>
                        <select class="form-control" name="room_id" id="room-id"></select>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-primary submit-add"><i class="fa fa-plus"></i> เพิ่ม</button>
                    <button type="submit" class="btn btn-warning submit-edit"><i class="fa fa-pencil"></i> แก้ไข</button>
                </div>
            </form>
        </div>
    </div>
</div>